<main>
    <div class="occupation-container p-sm">
        <div class="align-items-center container px-lg shape-container text-center">
            <h1><b>{{occupationLabel}}</b></h1>
        </div>
        <div class="align-items-center container shape-container white-container">
            <div class="row text-center">
                <div class="col-3 p-sm">
                    <p class="mb-0">Weekly pay</p>
                    <!-- <h2 class="display-3 mb-0">{{allData.weeklyEarnings}}</h2> -->
                    <p class="mb-0">Average weekly pay, higher than most jobs</p>
                </div>
                <div class="col-3 p-sm">
                    <p class="mb-0">Skill level</p>
                    <h2 class="display-3 mb-0">Bachelor degree or higher</h2>
                    <p class="mb-0">Career bullseye level 4 ></p>
                </div>
                <div class="col-3 p-sm">
                    <p class="mb-0">Job growth</p>
                    <h2 class="display-3 mb-0">Very strong</h2>
                    <p class="mb-0">Projected job growth in 5 years</p>
                </div>
                <div class="col-3 p-sm b-line">
                    <p class="mb-0">Would I like this job?</p>
                    <h2 class="display-3 mb-0">icon</h2>
                    <p class="mb-0">See if this is the right job for you</p>
                </div>
            </div>
        </div>
        <div class="align-items-center container shape-container white-container p-sm mt-sm">
            <h2>Overview</h2>
            <h4>Jobs titles include: </h4>
            <div class="row">
                <div class="col-flex my-2">
                    <span class="tag-container">Nurse Practitioner</span>
                </div>
                <div class="col-flex my-2">
                    <span class="tag-container">Registered Nurse (Aged Care)</span>
                </div>
                <div class="col-flex my-2">
                    <span class="tag-container">Registered Nurse (Child and Family Health)</span>
                </div>
                <div class="col-flex my-2">
                    <span class="tag-container">Registered Nurse (Community Health)</span>
                </div>
                <div class="col-flex my-2">
                    <span class="tag-container">Registered Nurse (Critical Care and Emergency)</span>
                </div>
                <div class="col-flex my-2">
                    <span class="tag-container">Registered Nurse (Developmental Disability)</span>
                </div>
                <div class="col-flex my-2">
                    <span class="tag-container">Registered Nurse (Disability and Rehabilitation)</span>
                </div>

            </div>
            <img>
            <h3 class="display-3 mb-0">Main tasks</h3>
            <p></p>
            <button class="btn btn-1 btn-outline-primary rounded">Read more </button>
        </div>
        <div class="align-items-center container shape-container py-sm mt-sm">
            <h2>Career stories</h2>
            <p></p>
            <div class="row">
                <div class="col-3">
                    <div class="card white-container">
                        <img class="card-img-top" src="...">
                        <div class="card-body p-2">
                            <h5 class="card-title">Caitlin's VET pathway accelerated her nursing career</h5>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card white-container">
                        <img class="card-img-top" src="...">
                        <div class="card-body p-2">
                            <h5 class="card-title">A nurse embraces her profession’s broad scope</h5>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card white-container">
                        <img class="card-img-top" src="...">
                        <div class="card-body p-2">
                            <h5 class="card-title">Caitlin's VET pathway accelerated her nursing career</h5>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card white-container">
                        <img class="card-img-top" src="...">
                        <div class="card-body p-2">
                            <h5 class="card-title">A nurse embraces her profession’s broad scope</h5>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Videos</h2>
            <p></p>
            <div class="row">
                <div class="col-3">
                    <div class="card white-container">
                        <img class="card-img-top" src="...">
                        <div class="card-body p-2">
                            <h5 class="card-title">Nurse - Registered - Simulation Coordinator</h5>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card white-container">
                        <img class="card-img-top" src="...">
                        <div class="card-body p-2">
                            <h5 class="card-title">Nurse - Registered</h5>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card white-container">
                        <img class="card-img-top" src="...">
                        <div class="card-body p-2">
                            <h5 class="card-title">Nurse - Registered - Simulation Coordinator</h5>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card white-container">
                        <img class="card-img-top" src="...">
                        <div class="card-body p-2">
                            <h5 class="card-title">Nurse - Registered</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-items-center container mt-sm p-sm shape-container white-container">
            <div class="row">
                <div class="col-8">
                    <h2>Pathways</h2>
                    <h3 class="display-3 mb-0">What skill level is required?</h3>
                    <h2 class="display-3 mb-0">Bachelor degree or higher qualification</h2>
                    <p>Career Bullseye Level 4</p>
                    <p>This type of occupation usually requires a bachelor’s degree also known as a first degree. Some jobs also require further study, such as a Graduate Certificate, Graduate Diploma or master’s degree. For some roles relevant experience
                        may be required in addition to or instead of the formal qualification.</p>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="mb-0">Other requirements</h4>
                            <h5 class="mb-0">Registration or licensing is required</h5>
                        </div>
                        <div class="col-6">
                            <h4 class="mb-0">Study fields </h4>
                            <h5 class="mb-0">Study fields related to this occupation group include:</h5>
                            <span>Nursing</span>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="mb-0">Learning areas / subjects</h3>
                            <h5>You may be interested in this occupation group if you enjoyed these learning areas at school:</h5>
                            <ul>
                                <li>Health</li>
                                <li>Biology</li>
                                <li>Chemistry</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h3>Skills </h3>
                            <ul>
                                <li>Helping people</li>
                                <li>Practical</li>
                                <li>Business</li>
                            </ul>
                        </div>
                    </div>
                    <p class="mb-0 text-muted"><b>Tip</b> Get personalised recommendations using our <a>Build you career profile</a> tool.</p>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="align-items-center container mt-sm p-sm shape-container white-container">
            <h2>Explore study options for Registered Nurses</h2>
            <p></p>
        </div>
        <div class="align-items-center container py-3 shape-container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <p class="filter-group mb-0">Locations</p>
                        <div class="btn-group ml-2" role="group" aria-label="First group">
                            <button *ngFor="let location of locations" type="button" class="btn btn-primary btn-sm btn-locations">
                                    {{ location.label }}
                                </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <p class="filter-group mb-0">Sectors</p>
                        <div class="btn-group ml-2" role="group" aria-label="First group">
                            <button *ngFor="let sector of sectors" type="button" class="btn btn-primary btn-sm btn-sectors">
                                    {{ sector.label }}
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="align-items-center container p-sm shape-container white-container text-center">
            <button class="btn btn-1 btn-outline-primary rounded">View courses</button>
        </div>
        <div class="align-items-center container mt-sm py-sm pl-sm pr-0 shape-container white-container">
            <h2>Prospects</h2>
            <div class="row text-center align-middle">
                <div class="col-3 align-middle tas-middle pt-3">
                    <p class="mb-0">Annual salary</p>
                    <h2 class="display-3 mb-0">$99,268</h2>
                    <p class="mb-0">Average annual salary, excluding super</p>
                </div>
                <div class="col-3 border-left align-middle tas-middle pt-3">
                    <p class="mb-0">Weekly pay</p>
                    <h2 class="display-3 mb-0">$1,909</h2>
                    <p class="mb-0">Average weekly pay, higher than most jobs</p>
                </div>
                <div class="col-6 graph-background p-0">
                    <kendo-chart class="barchart" [categoryAxis]="{ categories: barydata }">
                        <kendo-chart-area background="#E9E9E9">
                        </kendo-chart-area>
                        <kendo-chart-axis-defaults [majorGridLines]="{ visible : false}">
                        </kendo-chart-axis-defaults>
                        <kendo-chart-value-axis>
                            <kendo-chart-value-axis-item [visible]=false>
                            </kendo-chart-value-axis-item>
                        </kendo-chart-value-axis>
                        <kendo-chart-series-defaults type="bar">
                            <kendo-chart-series-defaults-labels format="c0" background="#E9E9E9">
                            </kendo-chart-series-defaults-labels>
                        </kendo-chart-series-defaults>
                        <kendo-chart-series>
                            <kendo-chart-series-item [data]="bardata" color="grey">
                            </kendo-chart-series-item>
                        </kendo-chart-series>
                    </kendo-chart>

                </div>
            </div>
            <h5 class="mt-3 mb-0">Earnings data source: Department of Employment, Skills, Small and Family Business, joboutlook.gov.au. ABS Survey of Employee Earnings and Hours (cat. no. 6306.0), May 2018, Customised Report. Median weekly total cash earnings for full-time
                non-managerial employees paid at the adult rate. Earnings are before tax and include amounts salary sacrificed. These figures should be used as a guide only, not to determine a wage rate.</h5>
        </div>
        <div class="align-items-center container mt-sm p-sm shape-container white-container">
            <h2>Workings hours and conditions</h2>
            <div class="row align-middle mt-1">
                <div class="col-3 align-middle tas-middle  text-center border-right">
                    <p class="mb-0">Weekly hours</p>
                    <h2 class="display-3 mb-0">41</h2>
                    <p class="mb-0">Average weekly hours, lower than most jobs</p>
                </div>
                <div class="col-9 align-middle tas-middle">
                    <p class="mb-0">Working conditions</p>
                    <p class="mb-0">Physical exertion: Using hands to handle, control, or feel objects, tools or controls</p>
                </div>
            </div>
            <h5 class="mt-3 mb-0">Average weekly hours data source: Department of Employment, Skills, Small and Family Business, joboutlook.gov.au . Based on ABS Census 2016, Customised Report.</h5>
        </div>
        <div class="align-items-center container mt-sm p-sm shape-container white-container">
            <h2>Job opportunities for Registered Nurses</h2>
            <div class="row text-center">
                <div class="col-3 pt-3">
                    <p class="mb-0">Job openings</p>
                    <h2 class="display-3 mb-0">147,000</h2>
                    <p class="mb-0">Over 5 years</p>
                </div>
                <div class="col-3 border-left pt-3">
                    <p class="mb-0">Job growth</p>
                    <h2 class="display-3 mb-0">Very strong</h2>
                    <p class="mb-0">Projected job growth in 5 years</p>
                </div>
                <div class="col-6">
                    <kendo-chart class="linechart">
                        <kendo-chart-axis-defaults [majorGridLines]="{ visible : false}">
                        </kendo-chart-axis-defaults>
                        <kendo-chart-value-axis>
                            <kendo-chart-value-axis-item [visible]=false [min]="10000" [max]="20000">
                            </kendo-chart-value-axis-item>
                        </kendo-chart-value-axis>
                        <kendo-chart-category-axis>
                            <kendo-chart-category-axis-item [categories]="categories">
                            </kendo-chart-category-axis-item>
                        </kendo-chart-category-axis>
                        <kendo-chart-series>
                            <kendo-chart-series-item [markers]="{background: 'grey', type: 'circle'}" color="grey" [data]="lineyData" type="line" [labels]="{visible:true, format:'n'}">
                            </kendo-chart-series-item>
                        </kendo-chart-series>
                    </kendo-chart>
                </div>
            </div>
            <h5 class="mt-3 mb-0">Job openings data source: Department of Employment, Skills, Small and Family Business, joboutlook.gov.au . Department of Employment, Skills, Small and Family Business Job Openings estimates, five years to 2023. Job openings can come from
                new jobs being created, but most come from turnover (workers leaving). Number of people employed data source: Department of Employment, Skills, Small and Family Business, joboutlook.gov.au . Based on ABS Labour Force Survey, Department
                of Employment, Skills, Small and Family Business trend data to May 2018 and projections to 2023.</h5>
            <hr>
            <h4 class="mb-0">Helpful industry websites</h4>
        </div>
        <div class="align-items-center container px-lg py-sm shape-container text-center">
            <h1>Explore similar occupations</h1>
        </div>
        <div class="align-items-center container px-lg shape-container text-center">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Midwives</h5>
                            <p class="card-text">Skill level:</p>
                            <p>Job titles included: </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Nurse Managers</h5>
                            <p class="card-text">Skill level:</p>
                            <p>Job titles included: </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Nurse Educators and Researchers</h5>
                            <p class="card-text">Skill level:</p>
                            <p>Job titles included: </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>