<div class="occupation-footer-container">
    <div class="align-items-center px-lg pt-5">
        <div class="row">
            <div class="col-3">
                <h2>Looking for career guidance and advice?</h2>
                <p></p>
                <h3 class="display-3 mb-0">Sign up to receive personalised career guidance</h3>
                <p></p>
                <form class="input-group">
                    <input class="form-control" type="search" placeholder="Emial address" aria-label="">
                    <button class="btn" type="submit" class="btn-primary px-4 occupation-footer-btn">Sign up</button>
                </form>
            </div>
            <div class="col-3">
                <ul class="occupation-footer-list">
                    <p><b>Finding a job</b></p>
                    <li>
                        <a href="">Getting started with myfuture</a>
                    </li>
                    <li>
                        <a href="">Graduate programs</a>
                    </li>
                    <li>
                        <a href="">Apprenticeships</a>
                    </li>
                    <li>
                        <a href="">Gaining and keeping work</a>
                    </li>
                    <li>
                        <a href="">The nature of work</a>
                    </li>
                    <li>
                        <a href="">Volunteering</a>
                    </li>
                    <li>
                        <a href="">Transition from study to work</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="occupation-footer-list">
                    <p><b>Skilling up</b></p>
                    <li>
                        <a href="">Learning to learn</a>
                    </li>
                    <li>
                        <a href="">Work skills</a>
                    </li>
                    <li>
                        <a href="">Entreprenuial behaviours </a>
                    </li>
                    <li>
                        <a href="">Leadership</a>
                    </li>
                    <li>
                        <a href="">Work integrated learning</a>
                    </li>
                    <li>
                        <a href="">Career development and management</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="occupation-footer-list">
                    <p><b>Advising others</b></p>
                    <li>
                        <a href="">For parents and carers</a>
                    </li>
                    <li>
                        <a href="">Career advisors/counsellors</a>
                    </li>
                    <li>
                        <a href="">Teaching and learning resources</a>
                    </li>
                    <li>
                        <a href="">Guides for students</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>