<main>
    <div class="container-1 align-items-center container py-lg shape-container">
        <h1><b>Privacy policy</b></h1>
        <h5>August 21, 2019</h5>
        <h5>5 min read</h5>
        <div class="row">
            <div class="col-9">
                <div>
                    <h2 class="display-3">1) What personal data does ESA collect?</h2>
                </div>
                <div class="row">
                    <div class="col-5">
                        <img>
                    </div>
                    <div class="col-7">
                        <h2 class="display-3">2) How does ESA collect your data?</h2>
                    </div>
                </div>
                <div>
                    <h2 class="display-3">3) Handling of personal data</h2>
                    <p class="lead text-muted">3.1) Remaining anonymous or using a pseudonym: are you required to provide personal data?</p>
                    <p class="lead text-muted">3.2) Use of your personal data</p>
                    <p class="lead text-muted">3.3) With whom will ESA share your personal data?</p>
                    <p class="lead text-muted">3.4) Use of cookies</p>
                    <p class="lead text-muted">3.5) Personal data about other people which you provide to ESA</p>
                    <p class="lead text-muted">3.6) Publication of your personal data</p>
                    <p class="lead text-muted">3.7) Security of your personal data</p>
                    <p class="lead text-muted">3.8) Location of personal data</p>
                </div>
                <div>
                    <h2 class="display-3">4) Accessing and correcting personal data</h2>
                    <div class="mb-5"></div>
                </div>
                <span class="tag-square">Legal</span>
                <div class="row mt-5">
                    <div class="col-4">
                        <p class="mt-5"><a>Save to favourites</a></p>
                    </div>
                    <div class="col-8">
                        <p class="mt-5 text-right">Share via</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <span class="tag-square">Legal</span>
                <p class="mt-5"><a>Save to favourites</a></p>
                <p class="mt-4">Share via</p>
                <button type="button" class="btn btn-primary">Contact us</button>
            </div>
        </div>
    </div>
    <div class="bottom-area-static">
        <div class="row">
            <div class="col-4">
                <h2 class="display-3">Discover myfuture</h2>
                <p>Access a range of tools, resources and articles to help you continue your career journey and help guide others to the next stages in life.</p>
                <button type="button" class="btn btn-primary btn-round mt-1">Get started -></button>
            </div>
            <div class="col">
                <h6>Related reads</h6>
                <div class="card">
                    <img class="card-img-top" src="..." alt="">
                    <div class="card-body">
                        <h5 class="card-title">Terms of use</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h6>Recommended tool</h6>
                <div class="card">
                    <img class="card-img-top" src="..." alt="">
                    <div class="card-body">
                        <h5 class="card-title">My career profile</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h6>Popular reading</h6>
                <div class="card">
                    <img class="card-img-top" src="..." alt="">
                    <div class="card-body">
                        <h5 class="card-title">Resources for teachers</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="card-link">The nature of work</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>