/** TYPOGRAPHY **/
/** Please refer to the style guide to learn what each font is used for and why **/

/** FONTS **/
$font-family-serif: Pacifico, Georgia, Times, serif;
$font-family-serif-style: italic;

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;

/**
  SIZES
  Currently using bootstrap font size defaults
**/

/** LINKS **/
$link-decoration: underline;
