/** ELEMENTS **/
.btn, .dropdown-item {
  text-decoration: none;
}

a:hover, .link:hover {
  text-decoration: none;
}

.accreditation {
  font-style: italic;
  font-size: $font-size-sm;
  opacity: 0.8;
}
